<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: MPL-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.d4guilar.shelfos.NonSeekableTestProvider"
            android:authorities="com.d4guilar.shelfos.test.documents"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
